{% extends 'pages/base.html' %}
{% block title %} Image Storage - No DI {% endblock %}

{% block content %}
<div class="container">
  <h2>Upload image (No DI)</h2>
  <form action="{% url 'imagenodi_save' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="profile_image" required>
    <button type="submit">Submit</button>
  </form>

  {% if image_url %}
    <h3>Uploaded image:</h3>
    <img src="{{ image_url }}" style="max-width:400px;">
  {% endif %}
</div>
{% endblock %}
